body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    text-align: center;
}

#genre {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.movie {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.movie img {
    width: 100px;
    float: left;
    margin-right: 10px;
}

.movie h2 {
    margin: 0;
    font-size: 1.2em;
}

.movie p {
    margin: 5px 0;
}
